.Login-main {
    display: flex;
    flex-direction: row;
    padding: 48px;
}

.Login-heading {
    padding: 24px;
    margin: 24px;
    position: relative;
}

.Login-font {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 24px;
}

#Login-tittle {
    font-size: 38px;
    margin-bottom: 8px;
}

#Login-subtext {
    font-size: 20px;
    margin-top: 0px;
}

.Login-input {
    display: flex;
    flex-direction: column;
}

.Login-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.forgotPassword {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.img-overlay {
    position: absolute;
    scale: 0.75;
    top: 0px;
    left: -40px;
}
