.main {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 24px;
    float: left;
}

.font {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#heading {
    font-size: 56px;
}

#sub-heading {
    font-size: 32px;
}

#paragraph {
    font-size: 20px;
    width: 35%;
}

.blue {
    color: #5680ED;
}

.cover-img {
    object-fit: cover;
    object-position: center; 
    overflow: -moz-hidden-unscrollable;
    width: 1000px;
    height: 50vh;
    overflow: hidden;
    float: right;
}